# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backups created by agent
*_old.tsx
*_old.jsx

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.lighthouse-reports/
.backups/
*_old.tsx
*_old.jsx
server/template/lighthouse-results.json
server/template/test.tsx